__pycache__/
__pycache__/training_utils.cpython-313.pyc
__pycache__/training_utils.cpython-313.pyc
__pycache__/nn.cpython-313.pyc
__pycache__/__main__.cpython-313.pyc
__pycache__/__init__.cpython-313.pyc
*.pyc
*.npy
/weights
/__pycache__
*.pyc
